__pycache__/
Lab1-std/
lab03-Smoothing-std/
lab04-ContrastEnhancement-std/
lab05-edge-detection-std/
# lab06-morphological-std/
lab07-Segmentation1-STD/
lab08_Classification/
lab08_HoG/
Lab9-segmentation2-std/
Lab10_texture/
Lab11_SIFT-Harris-STD/
Lab Exam/
